<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            Reconnecting to Kontainr...
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            Still reconnecting... retrying in <span id="components-seconds-to-next-attempt"></span>s
        </p>
        <p class="components-reconnect-failed-visible">
            Connection lost. Retrying automatically...
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            Retry Now
        </button>
        <p class="components-pause-visible">
            Session paused by server.
        </p>
        <p class="components-resume-failed-visible">
            Could not resume session.
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            Reload
        </button>
    </div>
</dialog>
